@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&subset=cyrillic');
@import url('https://unpkg.com/@icon/font-awesome/font-awesome.css');

*, *::before, *::after { 
  box-sizing: border-box; 
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

body {
  overflow: hidden;
  color: $dark;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

input, textarea {
  color:#9f9f9f;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 5px;
  outline: none;
  resize: none;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::-webkit-input-placeholder {
  color:#9f9f9f;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

::-moz-placeholder {
  color:#9f9f9f;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

:-moz-placeholder {
  color:#9f9f9f;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

:-ms-input-placeholder {
  color:#9f9f9f;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $gray-dark; 
    border-radius: 10px;
}

.wrapper {
  min-width: 620px;
}

.bg {
  height: 100vh;
  background-color: #000;
  opacity: .4;
}

.logo {
  z-index: -1;
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);
}

.logo__img {
  width: 100px;
}


.fa-search {
  font-size: 14px;
  color: $gray;
}

.search-bar__icon {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  background-color: #fff;
}

.close {
  font-size: 24px;
  color: #fff !important;
}

.fa-times {
  font-size: 24px;
  color: $gray-dark;
}

.fa-plus {
  font-size: 24px;
  color: $gray-dark;
}

.app {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 490px;
}

.app__wrap {
  border-radius: 10px;
  overflow: hidden;
}

.app__header {
  padding: 9px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $orange;
}

.app__title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.app__search-bar {
  background-color: $gray-light;
}

.search-bar__row {
  padding: 9.5px 5px;
  display: flex;
}

.search-bar__col {
  padding: 0 10px;
  display: flex;
  flex: 50%;
}

.search-bar__input {
  border-radius: 10px;
  flex: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.app__main-content {
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  max-height: 355px;
}

.app__main-content-left {
  border-right: 1px solid $gray-light;
  width: 50%;
}

.friends__list {
  margin: 0 6px;
  overflow-y: auto;
  height: 327px;
}

#allFriends {
  .friends__controls {
    transform: rotate(45deg);
  }
}

.app__main-content-right {
  width: 50%;
}

.friends__item {
  border-bottom: 1px solid $gray-light;
  border-top: 1px solid transparent;
  margin-left: 9px;
  margin-right: 6px;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  transition: .3s;
  cursor: pointer;
  box-sizing: border-box;

  &:first-child {
    border-top: 1px solid $gray-light;
  }

  &:hover {
    background-color: $gray-light;
  }
}

.friends__item-desc {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.friends__avatar {
  margin-right: 7px;
}

.friends__name{
  font-size: 12px;
}

.friends-list__item {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.friends__avatar-img {
 max-width: 45px;
 border-radius: 50%;
}

.friends__title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
  color: $dark;
  padding: 0 15px;
}

.app__footer {
  padding: 8px 15px;
  display: flex;
  justify-content: flex-end;
  background-color: $gray-light;
}

.friends__add-icon {
  color: $gray-dark;
}

.app__save-btn {
  border-radius: 10px;
  background-color: $orange;
  color: #fff;
  display: flex;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  padding: 8.5px 15px;
  transition: .3s;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background-color: $orange *.9;
  }
}

.status-overlay {
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999999;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: .7)
}

.status-overlay__wrap {
  position: absolute;
  background-color: white;
  padding: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;

}

.status-overlay__close {
  cursor: pointer;
  position: absolute;
  right: -8px;
  top: -8px;
  width: 24px;
  height: 24px;
  background-color: $orange;
  border-radius: 50%;

  i {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.status-overlay__close-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  fill: red;
}

.status {
  font-size: 12px;
  font-weight: 500;
}

.hidden {
  display: none;
}